* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {

    margin: 0;

    height: 100%;

    overflow: hidden;

}



body {
    position: sticky;
    height: 100%;

}

.parent {
    height: 100%;
    display: grid;
    grid-template-areas:
        "menu profile follower"
        "menu content tasklist"
        "menu content tasklist"
        "menu content teamlist"
        "menu content teamlist"
    ;
    gap: 1px;
    grid-template-rows: 13% 25% 25% 15% 15%;
    grid-template-columns: 15% 35% 50%;
    /*
    grid-template-rows: 20% 20% 20% 20% 20%
    grid-template-rows: 100px 185px 185px 185px 185px
    grid-template-rows: 100px;
    grid-template-columns: 300px 1fr 200px;
    */
    /*
        gap: px;   //간격을 준 css 코드
    */
}

.box {
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    /*background-color: pink;*/
}

.menu {
    height: 100%;
    grid-area: menu;
    background-color: black;
    grid-column: auto;
}

.profile {
    grid-area: profile;
}

.content {
    grid-area: content;
}

.follower {
    grid-area: follower;
}

.tasklist {
    grid-area: tasklist;
}

.teamlist {
    grid-area: teamlist;
}

#seo_nav {
    display: block;
    width: 200px;
    height: 200px;
    margin-top: 60%;
}

#root {
    height: 100%;
}

#app {
    height: 100%;
}